spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:changelog/db.changelog-master.yaml

  data:
    kafka:
      port: 9092
      host: localhost
    redis:
      port: 6379
      host: localhost
      channel:
        achievement: achievement_channel
        follower: follower_channel
        mentorship: mentorship_channel
        invitation: invitation_channel

server:
  port: 8094

logging:
  level:
    root: info

user-service:
  host: localhost
  port: 8090

achievements:
  sensei:
    name: SENSEI
  organizer:
    name: ORGANIZER